<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.rosesquared.notes.test"
          android:versionCode="1"
          android:versionName="1.0">
   <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/>
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

   <application>
      <uses-library android:name="android.test.runner" />
   </application>
   <!--
   This declares that this application uses the instrumentation test runner targeting
   the package of org.rosesquared.notes.  To run the tests use the command:
   "adb shell am instrument -w org.rosesquared.notes.tests/android.test.InstrumentationTestRunner"
   -->
   <instrumentation
      android:name="android.test.InstrumentationTestRunner"
      android:targetPackage="org.rosesquared.notes"
      android:label="NotesTest"
   />
</manifest>
